<h1>Conta Corrente</h1>

<p>Detalhes da conta corente.</p>

<p *ngIf="!account"><em>Loading...</em></p>

<div *ngIf="account">
  <p>Número da conta: <strong>{{account.number}}</strong></p>
  <p>Valor em conta: <strong>R$ {{account.value}}</strong></p>

  <input #transactionValue type="number" >
  <button class="btn btn-primary" (click)="deposit(transactionValue.value)">Depositar</button>
  <button class="btn btn-primary" (click)="withdraw(transactionValue.value)">Retirar</button>
  <button class="btn btn-primary" (click)="payment(transactionValue.value)">Pagar</button>
</div>
